body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-image: url(img/bg-masthead.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  color: #14030a;
  justify-content: center;
  font-size: 47px;
  text-align: center;
}

p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -30px;
}

.free {
  display: flex;
  height: 40px;
  background-color: #1d809f;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  border: none;
}

.red {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 6px;
  background-color: rgba(128, 128, 128, 0.562);
  border: none;
  position: fixed;
  right: 10px;
  top: 10px;
}
.red .green {
  display: flex;
  width: 15px;
  height: 1px;
  background-color: white;
  margin: 3px;
}

.sandie {
  background-color: #fff;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  font-size: 27px;
}

.charlo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -20px;
}

.unco {
  display: flex;
  background-color: #14030a;
  color: #fff;
  justify-content: center;
  margin-top: 40px;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.ropa {
  background-color: #1d809f;
  width: 100%;
  min-height: 450px;
}

.month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #e5b21b;
  font-size: 14px;
  padding-top: 70px;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: -14px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 6px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.first img {
  margin-bottom: -70px;
}
.first p {
  margin-top: -11px;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.second img {
  margin-bottom: -70px;
}
.second p {
  margin-top: -11px;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.third img {
  margin-bottom: -70px;
}
.third p {
  margin-top: -11px;
}

.fourth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 13px;
}
.fourth img {
  margin-bottom: -70px;
}
.fourth p {
  margin-top: -11px;
}

.gwayi {
  background-image: url(img/portfolio-4.jpg);
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.buton {
  display: flex;
  background-color: #1d809f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.Website {
  background-color: #fff;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Website h5 {
  display: flex;
  margin-top: 450px;
  color: #e5b21b;
  font-size: 15px;
}
.Website h4 {
  display: flex;
  font-size: 26px;
}
.Website .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.Website .pics {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  color: #fff;
  justify-content: center;
  justify-items: center;
  padding-left: 70px;
}
.Website .pics .para {
  margin-left: -80px;
  margin-top: -20px;
}
.Website .pics h6 {
  margin-top: 120px;
}

.lmages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ports {
  background-color: #1d809f;
  width: 100%;
  height: 270px;
  margin-top: 500px;
  padding-top: 30px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.space {
  display: flex;
  color: #fff;
  justify-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 50px;
}

.click {
  display: flex;
  background-color: #fff;
  justify-self: center;
  color: #14030a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 80px;
  margin-right: 200px;
}

.clock {
  display: flex;
  background-color: #14030a;
  color: #fff;
  justify-self: center;
  align-items: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -34px;
}

.content {
  width: 100%;
  height: 500px;
}
.content iframe {
  width: 100%;
  height: 100%;
}

.deve {
  background-color: #fff;
  width: 100%;
  height: 150px;
}

.output {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 130px;
}

.view {
  display: flex;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

@media (max-width: 931px) {
  .Website {
    background-color: #fff;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    background-image: url(img/bg-masthead.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    background-image: url(img/bg-masthead.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Website {
    background-color: #fff;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }
  .Website .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .Website .pics {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    justify-items: center;
    padding-left: 70px;
  }
  .Website .pics .para {
    margin-left: -80px;
    margin-top: -20px;
    font-size: 13px;
  }
  .Website .pics h6 {
    margin-top: 120px;
  }
  .Website .lmages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container {
    background-image: url(img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container h1 {
    display: flex;
    color: #14030a;
    justify-content: center;
    font-size: 35px;
    text-align: center;
  }
  .container p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin-top: -20px;
  }
  .sandie {
    background-color: #fff;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sandie h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
  }
  .sandie .charlo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -20px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .container {
    background-image: url(img/bg-masthead.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .sandie {
    background-color: #fff;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sandie h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 17px;
  }
  .sandie .charlo {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    margin-top: -15px;
  }
  .Website {
    background-color: #fff;
    width: 100%;
    min-height: 500px;
  }
  .Website .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .Website .pics {
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    justify-items: center;
    padding-left: 70px;
  }
  .Website .pics .para {
    margin-left: -50px;
    margin-top: -20px;
    font-size: 10px;
  }
  .Website .pics h6 {
    margin-top: 120px;
  }
  .deve {
    background-color: #fff;
    width: 100%;
    height: 50px;
  }
  .deve .output {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .deve .view {
    display: flex;
    justify-self: center;
    text-align: center;
  }
  .content {
    width: 100%;
    height: 500px;
  }
  .content iframe {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=index.css.map */